<h1>Currency Pairs</h1>

<div>Go <a href="/">back</a></div>

<div>
<ul><% @currency_array.each do |symbol|%>
 <li><a href="/forex/<%= symbol%>">Convert 1 <%= symbol%> to ...</a></li>
 <% end%>
</ul>
</div>

