<h1>Convert <%= @working%></h1>

<div>Go <a href="/forex">back</a></div>

<div>
<ul><% @currency_array.each do |symbol|%>
 <li><a href="/forex/<%= @working + "/" + symbol%>">Convert 1 <%= @working%> to <%= symbol%>...</a></li>
 <% end%>
</ul>
</div>
